extends layout 
 
block content 
  h1= title 
 
  - let mangoid = toShow._id 
  - let mango_type = toShow.types 
  - let mangotaste = toShow.taste 
  - let mangocost = toShow.cost 
   
  div.row(class='mb-2') 
    div.mr-1 ID is 
    div #{mangoid} 
  - let actionid = "/resource/resource/mangos/" + mangoid 
  form(id='mangoForm', action= actionid, method="PUT") 
    div.form-group 
        label.mangoAttr(for='types') mango type 
        input#mango_type(type='text', name='types', value= mango_type ) 
    div.form-group 
        label.mangoAttr(for='taste') mango taste  
        input#taste(type='text', name='taste', value= mangotaste ) 
    div.form-group 
        label.mangoAttr(for='cost') mango cost 
        input#cost(type='number', name='cost', value= mangocost ) 
    

    button(class="btn btn-danger m-2" onclick="updateOnid()") update  
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel 

  script. 
    function cancel() { 
      // Go back to the home page for the mango collection 
      window.location.href='/mangos' 
    } 
 
  script. 
    function updateOnid() {
    document.forms['mangoForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'PUT', 
        body: new URLSearchParams(new FormData(event.target)) 
        
      }).then((resp) => { 
        return resp.text(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Update succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Update failed " + error ) 
      }); 
    }); 
    }