body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.mangoAttr { 
  background-color: aquamarine; 
  font: 300;
  height: 50px;
  font-size: 20px;
  width: 120px; 
} 

h1{
  margin-left: -10px;
  text-shadow: 2px 2px #0077ff;
  font: bold;
  width: 500px;
  color: violet;
}
.mango{
  width: 500px; 
  font: 300;
  height: 50px;
  font-size: 20px;
  background-color: red ;

}
div{
  align-items: center;
}